/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
       font-weight: 700;
       font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-gray: #F2F2F2;
  --basic-gray: #EBEBEB;
  --basic-sky-blue: #81b3d2;
  --basic-sky-blue-1: #81B3D3;
  --basic-blue:  #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-dark: #333333;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown:  #503E33;
  --basic-neutral: #eeeeee;
}

/* Global */

.main-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main-Header */

.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav a:hover {
  color: var(--basic-sky-blue);
}
.site-nav a:active {
  color: var(--basic-neutral);
}

.main-header a {
  color: var(--basic-black);
  text-decoration: none;
}

.main-header-logo {
  margin: 0 auto;
}

/* Main */

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.container h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.container h2 {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark);
  text-align: center;
}

/* Advantages */

.advantages-list {
  background-color: var(--basic-sky-blue-1);
  color: var(--basic-white);
  text-align: center;
}

.advantages h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}
.advantages p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.advantages-items ul {
  list-style: none;
  text-align: center;
}
.advantages-items h4 {
  font-size: 21px;
  line-height: 21px;
}

.advantages-items p{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
}

.img {
  width: 800px;
  height: 256px;
}

/* Features */

.features {
  background-color: var(--basic-neutral);
  text-align: center;
}

.features h4 {
  font-size: 21px;
  line-height: 21px;
}
.features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
}

/* Appointment */

.appointment-info h2 {
  font-size: 30px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  width: 297px;
  height: 24px;
  margin-left: 446px;
  color: var(--basic-black);
}

.appointment-info p {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-left: 383px;
  width: 435px;
  height: 95px;
}

.hotel-search {
  background-color: var(--basic-light-brown);
  width: 568px;
  height: 86px;
  margin-left: 316px;
  padding-top: 30px;
}

.hotel-search:hover {
  background-color: var(--basic-brown);
}
.hotel-search:active {
  background-color: var(--basic-dark-brown);
}

.hotel-search h2 {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
}

.appointment {
  background: #FFFFFF;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 568px;
  min-height: 395px;
  margin-left: 315px;
}

.appointment-date {
  margin-left: 55px;
}

.appointment-age {
  margin-left: 55px;
}

.appointment-date input:hover {
  background-color: var(--basic-gray);
}
.appointment-date input:focus{
  background-color: var(--basic-white);
  border: 2px solid var(--basic-gray);
}

.button {
  background-color: var(--basic-sky-blue);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
  margin-left: 55px;
}

.button:hover {
  background-color: var(--basic-blue);
}
.button:active {
  background-color: var(--basic-dark-blue);
}


/* Main-Footer */

.contact {
  font-size: 21px;
  line-height: 26px;
  justify-self: center;
  width: 251px;
  margin-top: 23px;
}

.contact a {
  color: var(--basic-black);
  text-decoration: none;
}

.contact p {
  color: var(--basic-black);
  text-decoration: none;
}

.footer-social {
  width: 150px;
  justify-self: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  justify-self: center;
  width: 195px;
  margin-top: 38px;
}

.footer-copyright a {
  color: var(--basic-black);
}

/* Catalog-Header */

.nav-current {
  color: var(--basic-light-brown);
}

/* Main-Catalog */

.search {
  color: var(--basic-white);
  text-align: left;
  background: url(../img/background-catalog.png) no-repeat; /*width1200px height217px;*/
}

.search h2{
  text-align: left;
  color: var(--basic-white);
}

.search-result {
  font-size: 21px;
  line-height: 26px;
}

.sorting {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.sorting li {
  list-style: none;
}

.sorting a{
  color: var(--basic-black);
}

.hotels h2 {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}

.hotels h2:hover {
  color: var(--basic-sky-blue);
}
.hotels h2:active {
  color: var(--basic-black);
}

.hotel-info {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.link-show {
  font-size: 14px;
  line-height: 21px;
  background-color:  var(--basic-sky-blue);
  color: var(--basic-white);
  text-decoration: none;
}
.link-show:hover {
  background-color: var(--basic-blue);
}
.link-show:active {
  background-color: var(--basic-dark-blue);
}

.link-order {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  text-decoration: none;
}

.link-order:hover {
  background-color: var(--basic-brown);
}
.link-order:active {
  background-color: var(--basic-dark-brown);
}

.rating {
  background-color: var(--basic-light-gray);
}

/* Grid-Header */

.main-nav{
  display: grid;
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}


/*Grid-Main*/

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


.advantages-items ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 120px;
  padding: 60px 70px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 120px;
  margin-top: 0;
  padding: 25px;
}

/* Grid-Footer*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  margin: 0 auto;
}

/* Grid-Catalog-Main*/

.search {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  padding: 30px;
}

.search-price {
  justify-self: end;
  padding-right: 75px;
}

.hotels {
  display: grid;
  grid-template-columns: 210px 1fr 185px;
  padding: 30px;
}

.rating {
  grid-column-start: 4;
  grid-column-end: 5;
  max-height: 27px;
}

.stars {
  grid-column-start: 4;
  grid-column-end: 5;
}

.result-bar {
  display: grid;
  grid-template-columns: 210px 1fr;
  padding-left: 30px;
  margin-top: 30px;
}


